.pagination {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.pagination > li.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.pagination > li {
  display: inline-block;
  list-style: none;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #0ea5e9;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

.pagination > li.selected > a {
  color: #fff;
  background-color: #0ea5e9;
  border-color: #0ea5e9;
}

/* Style the active class (and buttons on mouse-over) */
.pagination > li > a:hover {
  background-color: #0ea5e9;
  color: white;
}
